In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
plt.rcParams['figure.figsize']=10,8

In [6]:
no_of_skills = np.linspace(1,40,500,dtype='int')

In [7]:
no_of_skills

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  3,  3,  3,  3,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,
        4,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  6,  6,  6,  6,
        6,  6,  6,  6,  6,  6,  6,  6,  6,  7,  7,  7,  7,  7,  7,  7,  7,
        7,  7,  7,  7,  7,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,
        8,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9, 10, 10, 10,
       10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
       12, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 14, 14, 14,
       14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 15, 15,
       15, 15, 15, 15, 15, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16,
       16, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 18, 18, 18,
       18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 19, 19,
       19, 19, 19, 19, 19, 19, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20,
       20, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 22, 22, 22,
       22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 23, 23, 23, 23, 23, 23, 23,
       23, 23, 23, 23, 23, 23, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24,
       24, 24, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 26, 26, 26,
       26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 27, 27, 27, 27, 27, 27, 27,
       27, 27, 27, 27, 27, 27, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28,
       28, 28, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 30, 30,
       30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 31, 31, 31, 31, 31, 31, 31,
       31, 31, 31, 31, 31, 31, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32,
       32, 32, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 34, 34,
       34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 35, 35, 35, 35, 35, 35,
       35, 35, 35, 35, 35, 35, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36,
       36, 36, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 38, 38,
       38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 39, 39, 39, 39, 39, 39,
       39, 39, 39, 39, 39, 39, 40])

In [10]:
buffer= np.random.randint(1,40000,500)
buffer

array([20798,  3019, 20135, 35421, 33578, 34698, 33961,  1727,  9164,
         691, 32658,  5530, 17664, 39383, 38213, 18214,  9610, 33671,
       23090, 22158, 18461,  2310, 12197, 28934, 11159, 33715,  1200,
        6831, 27478,  4295,  2422, 23847,  9866, 13829,  3633, 20573,
       37230, 22492, 33774, 32573, 25454,  6473, 14847,  9033, 11771,
       10848,  7658, 23006, 37266,  6418, 22262, 26688, 10581, 14900,
        2271, 30429,  4489, 15784, 26016, 22820, 12621, 28558, 18727,
         405, 13394, 22812, 17014, 14454, 30306, 29582, 33282, 24807,
       28982, 24504, 36908,  3831, 22016, 12670,  5853, 27250, 11333,
       23672,  9203, 15909,  1585, 12100, 14663, 36742, 37913,  2647,
       31866, 11903, 13353,  1914, 11429, 15260, 39225,  1039, 26858,
       20688, 30601,  3573, 16531,  8281, 19659,  5845, 33011, 27687,
       12400, 34202,  5117, 34480, 36510, 19162, 31619, 38214, 36757,
       31770, 36818, 18819,   430,  3160, 30743, 35818,  6987,  9659,
       30463, 36268, 25474, 12902, 38248, 14378, 27975,  7811, 10286,
       23637,  8489, 19963, 26707, 18547, 13965, 12569, 38354, 34795,
       26512, 22837, 15309, 17475, 30369,   480, 37421, 12533,    61,
       31107,  4167, 20511, 26378, 27276, 14517, 33790, 18859, 34656,
       24196,  1890, 11276, 35680, 26818, 31006, 27726,  3458, 22091,
       29534, 16913, 23745,  4053, 29809,  3550, 30973, 19868, 33908,
       34378, 23796, 36972, 10913, 34017, 14119, 21367, 31432, 22650,
       23347, 29704, 38560,  7943,  1934, 38738, 13583, 22016, 13778,
       30301, 36998, 23659, 35295, 37544, 32592,  3828, 39212, 25831,
       33170, 12807,  3593, 15950,  2327, 34174, 30152, 30533,  6490,
        3941, 18028, 30059,  2179, 36125,   695, 29820, 17987, 36558,
        9729,  7391, 14912,  5400,  4154,  7901,  2886, 21843, 12579,
       30086,  6058, 10582, 28730,  1882, 10509, 36726,  7481, 12486,
       23149,  1785, 13368, 38682, 32050, 27886, 11557,  8127, 25132,
       10913,  1995, 24010, 18040, 29012,  8383,  6870, 15253, 39326,
       22464, 20192, 27475, 30503, 25495, 12075, 23989, 39164, 13227,
        4985, 23340, 32994, 39898, 39152, 22577, 21820,  3975,  9675,
       26578,  8868, 35916, 10923, 10420, 30662, 22987, 13024, 31797,
       33155, 22683, 36166, 20774,  1824, 11833,   880, 39940, 38906,
       15555, 11951,  1263, 22695, 26192, 30474,  3662, 11816, 28562,
       13263, 36190,  3850,  1433, 17478, 18332, 26717,  1363,  5675,
        3868, 34532,  7333, 30716, 24966, 32364,  8424, 26170, 37311,
       16414,  7335, 23065, 37768, 18882, 17630, 17179, 27436, 39777,
       37286,  1878, 36071, 12983, 18420, 23498, 27322, 10646, 35827,
       13168, 32895, 24350, 11245, 27193, 10391, 20850, 35181, 36453,
       38821,  3947,  8663, 29842, 29802, 18432, 35644, 33402, 18892,
        4379,  4931, 30360, 15034, 22634,  5721, 23535, 31599, 23757,
       11079, 37084,  6765, 37581, 21706, 33259, 11849, 26315, 38321,
       30836, 20229, 27889, 29793, 33735, 10535, 32604, 16650, 22026,
        4626,  3016, 23536,  2732, 10760, 29390, 13492, 33926,  1476,
       11571, 30584, 38293, 34822, 21052, 34258, 20871,  1392, 21495,
       31425, 38821,  3697, 26838, 23325,  6404, 26690, 16146, 39617,
       35137, 32880, 19906, 15803,  1583, 15722, 36180,  5530, 25953,
       35996, 38517, 29832, 28437, 39271, 32794, 29365, 22491, 23556,
       39800, 23738,  6159, 11506, 17138,  4669,  5016,  5585,  6277,
       38435,  1673, 15334,  5988,  3503, 13751,  4235,  3552,  9024,
       24076, 30481,  7726,  5983, 31399, 37609,  9795, 27918, 21095,
        3614,  2000,  9714, 37099, 19751, 34377, 33785,  1396, 37535,
       31756, 19692, 21010, 18823, 26308, 33450, 16346,  6293, 20156,
       37384,   361, 37057, 33568, 31429, 17248,  9441, 32470,  7198,
       36469, 36572, 22253, 22536, 18503,  7878, 28034, 27968, 17289,
       39335, 11771, 30867, 23508,  8334])

In [11]:
salary= (no_of_skills*8000)+buffer
salary

array([ 28798,  11019,  28135,  43421,  41578,  42698,  41961,   9727,
        17164,   8691,  40658,  13530,  25664,  55383,  54213,  34214,
        25610,  49671,  39090,  38158,  34461,  18310,  28197,  44934,
        27159,  49715,  25200,  30831,  51478,  28295,  26422,  47847,
        33866,  37829,  27633,  44573,  61230,  46492,  57774,  64573,
        57454,  38473,  46847,  41033,  43771,  42848,  39658,  55006,
        69266,  38418,  54262,  58688,  50581,  54900,  42271,  70429,
        44489,  55784,  66016,  62820,  52621,  68558,  58727,  40405,
        61394,  70812,  65014,  62454,  78306,  77582,  81282,  72807,
        76982,  72504,  84908,  51831,  70016,  68670,  61853,  83250,
        67333,  79672,  65203,  71909,  57585,  68100,  70663,  92742,
        93913,  58647,  95866,  75903,  77353,  65914,  75429,  79260,
       103225,  65039,  90858,  84688,  94601,  67573,  80531,  80281,
        91659,  77845, 105011,  99687,  84400, 106202,  77117, 106480,
       108510,  91162, 103619, 110214, 116757, 111770, 116818,  98819,
        80430,  83160, 110743, 115818,  86987,  89659, 110463, 116268,
       113474, 100902, 126248, 102378, 115975,  95811,  98286, 111637,
        96489, 107963, 114707, 106547, 101965, 108569, 134354, 130795,
       122512, 118837, 111309, 113475, 126369,  96480, 133421, 108533,
        96061, 127107, 108167, 124511, 130378, 131276, 118517, 137790,
       122859, 138656, 128196, 105890, 115276, 139680, 130818, 143006,
       139726, 115458, 134091, 141534, 128913, 135745, 116053, 141809,
       115550, 142973, 131868, 145908, 154378, 143796, 156972, 130913,
       154017, 134119, 141367, 151432, 142650, 143347, 149704, 158560,
       135943, 129934, 166738, 141583, 150016, 141778, 158301, 164998,
       151659, 163295, 165544, 160592, 131828, 175212, 161831, 169170,
       148807, 139593, 151950, 138327, 170174, 166152, 166533, 142490,
       139941, 154028, 174059, 146179, 180125, 144695, 173820, 161987,
       180558, 153729, 151391, 158912, 149400, 148154, 151901, 154886,
       173843, 164579, 182086, 158058, 162582, 180730, 153882, 162509,
       188726, 159481, 164486, 175149, 161785, 173368, 198682, 192050,
       187886, 171557, 168127, 185132, 170913, 161995, 184010, 178040,
       197012, 176383, 174870, 183253, 207326, 190464, 188192, 195475,
       198503, 193495, 180075, 191989, 207164, 189227, 180985, 199340,
       208994, 215898, 215152, 198577, 197820, 179975, 185675, 202578,
       184868, 211916, 194923, 194420, 214662, 206987, 197024, 215797,
       217155, 206683, 220166, 204774, 185824, 195833, 184880, 231940,
       230906, 207555, 203951, 193263, 214695, 218192, 222474, 195662,
       203816, 220562, 205263, 228190, 203850, 201433, 217478, 218332,
       226717, 201363, 205675, 203868, 234532, 207333, 230716, 224966,
       240364, 216424, 234170, 245311, 224414, 215335, 231065, 245768,
       226882, 225630, 225179, 235436, 247777, 253286, 217878, 252071,
       228983, 234420, 239498, 243322, 226646, 251827, 229168, 248895,
       240350, 227245, 251193, 234391, 244850, 259181, 260453, 262821,
       227947, 232663, 253842, 253802, 242432, 259644, 257402, 250892,
       236379, 236931, 262360, 247034, 254634, 237721, 255535, 263599,
       255757, 243079, 269084, 238765, 277581, 261706, 273259, 251849,
       266315, 278321, 270836, 260229, 267889, 269793, 273735, 250535,
       280604, 264650, 270026, 252626, 251016, 271536, 250732, 258760,
       277390, 261492, 281926, 249476, 259571, 286584, 294293, 290822,
       277052, 290258, 276871, 257392, 277495, 287425, 294821, 259697,
       282838, 279325, 270404, 290690, 280146, 303617, 299137, 296880,
       283906, 279803, 265583, 279722, 300180, 269530, 289953, 307996,
       310517, 301832, 300437, 311271, 304794, 301365, 294491, 295556,
       311800, 295738, 278159, 283506, 297138, 284669, 285016, 285585,
       286277, 318435, 281673, 295334, 285988, 283503, 293751, 284235,
       291552, 297024, 312076, 318481, 295726, 293983, 319399, 325609,
       297795, 315918, 309095, 291614, 290000, 305714, 333099, 315751,
       330377, 329785, 297396, 333535, 327756, 315692, 317010, 314823,
       322308, 329450, 320346, 310293, 324156, 341384, 304361, 341057,
       337568, 335429, 321248, 313441, 336470, 311198, 340469, 348572,
       334253, 334536, 330503, 319878, 340034, 339968, 329289, 351335,
       323771, 342867, 335508, 328334])

In [12]:
X= df[['skills']].values
Y= df[['salary']].values

NameError: name 'df' is not defined